* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  font-family: "Poppins", serif;
}

body {
  background-image: url("./images/bg-intro-mobile.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: hsl(0, 100%, 74%);
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

header > p {
  color: white;
  padding: 2rem 2rem;
}

h1 {
  color: white;
  font-family: "Poppins", serif;
}

.cta--blue {
  font-family: "Poppins", serif;
  width: 100%;
  background-color: hsl(248, 32%, 49%);
  padding: 1rem 2rem;
  border: none;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  box-shadow: 0px 8px hsl(249deg 10% 26% / 18%);
  cursor: pointer;
}
.form-container {
  display: grid;
  place-items: center;
}
form {
  width: 24rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 8px hsl(249deg 10% 26% / 18%);
}
input {
  font-family: "Poppins", serif;
  padding: 10px;
  margin: 10px 0;
  outline: none;
  font-weight: bold;
  width: 100%;
}

input:required:invalid:focus-visible {
  background-image: url("./images/icon-error.svg");
  background-repeat: no-repeat;
  background-position: 90%;
  border: 1px solid hsl(0, 100%, 74%);
}
.cta--green {
  font-family: "Poppins", serif;
  padding: 1rem 2rem;
  border: none;
  border-radius: 9px;
  background-color: hsl(154, 59%, 51%);
  color: white;
  cursor: pointer;
}

.form__tos {
  color: hsl(249, 10%, 26%);
  text-align: center;
  font-size: 14px;
}

.form__tos > span {
  font-weight: bold;
  color: hsl(0, 100%, 74%);
}

@media (min-width: 550px) {
  header > p {
    padding: 2rem 5rem;
  }
}

@media (min-width: 768px) {
  body {
    background-image: url("./images/bg-intro-desktop.png");
  }
  main {
    flex-direction: row;
    margin: 0 2rem;
  }
  header {
    text-align: left;
    align-items: flex-start;
  }
  header > p {
    padding: 0;
  }
  .cta--blue {
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  form {
    width: 28rem;
  }
  main {
    margin: 0 5rem;
  }

  header {
    padding: 0 9rem 0 0;
  }
}
